<!DOCTYPE html>
<html>
  {% include head.html %}
<body class="{{ page.class }}">

<div class="wrapper">
      <div class="logo">

        <div class="wrapper section2">

            <img src="{{ site.root_url }}/img/logo_centrolatam.png" alt="Centro LATAM digital" style="max-width: 500px">
        <br>
        <br>
        <br>
        <p>Somos un centro de investigación que genera conocimiento, promueve el
        diálogo y fortalece las capacidades técnicas sobre el uso y
        aprovechamiento de las tecnologías de la información y comunicación
        (TIC) para el desarrollo económico, político y social en América Latina.
        </p>
        <br>
        <br>
        <br>
        <h1>PRÓXIMAMENTE</h1>
    </div>



      </div>
    </div>
    <div class="navbar-right">
        <!-- <a class="navbar-brand" href="{{ site.root_url }}{{ page.back_path }}">{{ page.back_label }}--></a>
    </div>

  </div>
</div>


<div class="wrapper footer">

      {% include footer.html %}

</div>


</body>
</html>
